* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', 'ProximaNova', 'Roboto', sans-serif;
}


/* NAV */

.media-logo {
    display: none;
    font-size: 30px;
    font-weight: 800;
    color: #fff;
}

.header {
    background: url(img/header-bg.png) no-repeat center/cover;
    padding-left: 220px;
    padding-right: 220px;
    padding-bottom: 250px;
    padding-top: 30px;
    width: 100%;
    position: relative;
}

.header-nav {
    position: relative;
    z-index: 2;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.nav-logo {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
}

.tel {
    margin-left: 25px;
    white-space: nowrap;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
}

.tel:hover {
    opacity: 0.7;
}

.tel img {
    width: 17px;
    height: 17px;
    margin-right: 10px;
    transform: translateY(2px);
}

.navigation {
    text-transform: uppercase;
    margin-left: 300px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    list-style: none;
    display: flex;
    justify-content: space-around;
    white-space: nowrap;
}

.navigation li {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.nav-btn {
    padding: 12px 15px;
    background: #6b8181;
    margin: 0;
    border-radius: 5px;
    font-weight: 700;
    transition: .2s;
}

.nav-btn:hover {
    background: #6b8181;
    opacity: 0.7;
}

.navigation a {
    transition: .2s;
    color: #fff;
    text-decoration: none;
}

.navigation a:hover {
    color: #fff9;
    opacity: 0.7;
}

/* HEADER */

.header-line {
    margin-top: 30px;
    border: 1px solid #fff;
    opacity: 0.1;
}

.header-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.header-title {
    font-size: 56px;
    color: #fff;
    margin-bottom: 100px;
}

.header-subtitle {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
}

.header-btn {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #6fb048;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 40px;
    transition: .2s;
}

.header-btn:hover {
    opacity: .8;
}

@media (max-width:1600px) {
    .header-line {
        width: 100%;
    }

    .tel {
        font-size: 12px;
    }

    .tel img {
        width: 15px;
        height: 15px;
    }

    .navigation {
        font-size: 12px;
    }
}

@media (max-width:1400px) {
    .header {
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 300px;
        padding-top: 20px;
    }
}

@media (max-width:1199px) {
    .header {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 150px;
        padding-top: 20px;
    }

    .tel {
        font-size: 10px;
    }

    .tel img {
        width: 12px;
        height: 12px;
    }

    .navigation {
        margin-left: 150px;
        font-size: 10px;
    }

    .header-main {
        margin-top: 150px;
    }
}

@media (max-width: 999px) {
    .header-nav {
        justify-content: center;
    }

    .tel {
        display: none;
    }

    .header-main {
        margin: auto;
        margin-top: 100px;
        width: 60%;
        text-align: center;
        align-items: center;
    }

    .header-subtitle {
        font-size: 18px;
    }

    .header-title {
        width: 100%;
        font-size: 32px;
    }

    .header {
        height: 70vh;
    }

    .header-btn {
        display: inline-block;
        margin-top: 50px;
        padding: 20px 40px;
        font-size: 18px;
    }
}

@media (max-width: 699px) {
    .navigation {
        margin-left: 50px;
        font-size: 10px;
    }
}

@media (max-width: 599px) {
    .header {
        text-align: center;
        padding: 10px 20px;
        padding-bottom: 100px;
    }

    .media-logo {
        display: inline;
        font-size: 30px;
        font-weight: 800;
        color: #fff;
    }

    .header-nav {
        display: none;
    }

    .header-main {
        margin: 50px auto;
        width: 100%;
    }

    .header-btn {
        padding: 10px 20px;
        font-size: 10px;
    }
}

@media (max-width : 500px) {
    .header-main {
        margin-top: 150px;
    }
}

@media (max-width : 400px) {
    .header-main {
        margin-top: 50px;
    }

    .header-btn {
        margin: 0;
    }
}

@media (max-width : 289px) {
    .header-title {
        font-size: 20px;
    }

    .header-subtitle {
        font-size: 18px;
    }
}


/* Features */

.features {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;

}

.features-main-title {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 100px;
}

.features_title {
    margin-bottom: 20px;
    font-size: 32px;
    color: #0f5f5c;
}

.title_line {
    width: 10%;
    border-bottom: 1.5px solid #6fb048;
    margin-bottom: 20px;
}

.features_subtitle {
    margin-bottom: 75px;
    display: inline-block;
    width: 100%;
    color: #83a7a5;
    font-size: 15px;
}

.features-main-column {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-column-container {
    margin-bottom: 175px;
    padding: 0 250px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.main-column-1,
.main-column-2,
.main-column-3 {
    width: 33%;
    text-align: center;
}

.main-column_image {
    width: 50px;
    height: 50px;
    margin-bottom: 25px;
}

.main-column_subtitle {
    text-align: center;
    width: 70%;
}

.columns-title {
    font-size: 16px;
    color: #0f5f5c;
    margin-bottom: 25px;
}

.columns-subtitle {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: #83a7a5;
}

.others-column-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 225px;
    text-align: center;
}

.others-column {
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    width: 80%;
    flex-wrap: wrap;
}

.others-column_title {
    margin-left: 25px;
}

.others-column_subtitle {
    display: block;
    text-align: start;
    margin-bottom: 60px;
}

.others-column_image {
    margin-bottom: 25px;
}

@media (max-width:1460px) {
    .others-column-container {
        padding-top: 50px;
    }
}

@media (max-width:1199px) {
    .main-column-container {
        padding: 0 150px;
    }

    .others-column-container {
        padding: 0 175px;
    }
}

@media (max-width:996px) {
    .main-column-container {
        padding: 0 100px;
    }

    .others-column-container {
        padding: 0 100px;
    }
}

@media (max-width:789px) {
    .main-column-container {
        padding: 0;
    }

    .others-column-container {
        padding: 0;
    }
}

@media (max-width:640px) {
    .others-column-container {
        display: block;
    }

    .features-main-title {
        width: 90%;
    }
}

@media (max-width:500px) {
    .others-column {
        width: 95%;
        display: block;
    }

    .main-column-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .main-column-1,
    .main-column-2,
    .main-column-3 {
        width: auto;
        margin-bottom: 50px;
        text-align: center;
    }

    .others-column_subtitle {
        display: block;
        text-align: center;
        margin-bottom: 60px;
    }

    .others-column_title {
        margin: auto;
        margin-bottom: 10px;
    }

    .others-column_image {
        width: 50px;
        height: auto;
    }
}

/* OUR TEAM */
.our-team {
    width: 100%;
}

.our-team_container {
    background-color: #eef1ec;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 75px 260px 118px 260px;
}

.our-team_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 90px;
}

.our-team_text {
    margin-left: 50%;
    width: 50%;
    padding-right: 250px;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-bottom: 100px;
}

.our-team_subtitle {
    text-align: center;
    display: inline-block;
    width: 100%;
    color: #83a7a5;
    font-size: 15px;
}

.our-team_title {
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 32px;
    color: #0f5f5c;
}

.title_line {
    width: 10%;
    border-bottom: 1.5px solid #6fb048;
    margin-bottom: 40px;
}

.our-team_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.person {
    margin-right: 40px;
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.person:nth-child(3) {
    margin-right: 0;
}

.person_name {
    margin-top: 17px;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    color: #0f5f5c;
}

.person_role {
    font-size: 14px;
    color: #83a7a5;
    font-weight: 400;
    margin-top: 5px;
}

.team-image {
    width: 100%;
}

@media (max-width : 996px) {
    .our-team_container {
        padding: 75px 10px 118px 10px;
    }

    .our-team_subtitle {
        width: 100%;
    }

    .our-team_main {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .person {
        text-align: center;
        margin-bottom: 40px;
        margin-right: 0;
    }

    .person:nth-child(3) {
        margin-bottom: 0;
    }
}

/* Call to action */

.call-to-action {
    background: url(img/cta-bg.png);
    width: 100%;
}

.cta_container {
    display: flex;
    align-items: center;
    padding: 70px 225px;
    justify-content: space-between;
}

.cta-heading {
    display: flex;
    flex-direction: column;
}

.aboutus_cta-title {
    text-align: start;
    margin-bottom: 15px;
    font-size: 28px;
    color: #fff;
}

.aboutus_cta-subtitle {
    font-size: 15px;
    color: #fff;
    font-weight: 500;
}

.aboutus_cta-btn {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    background-color: #49732f;
    transition: .3s;
}

.aboutus_cta-btn a {
    text-align: center;
}

.aboutus_cta-btn:hover {
    background-color: #7cbd56;
}

@media (max-width : 1400px) {
    .cta_container {
        padding: 70px 100px;
    }
}

@media (max-width : 1199px) {
    .cta_container {
        padding: 70px 50px;
    }
}

@media (max-width : 996px) {
    .cta_container {
        padding: 70px 10px;
        flex-direction: column;
        justify-content: center;
    }

    .cta-heading {
        margin-bottom: 40px;
    }

    .aboutus_cta-title {
        text-align: center;
    }

    .aboutus_cta-subtitle {
        text-align: center;
    }
}

/* Footer */

.footer-top_container {
    padding: 0px 225px;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

.footer_title {
    font-size: 15px;
    color: #0f5f5c;
    font-weight: 600;
    margin-bottom: 25px;
}

.footer_subtext {
    margin-bottom: 15px;
    text-decoration: none;
    font-size: 15px;
    color: #83a7a5;
    font-weight: 400;
    list-style: none;
}

.others_list a {
    text-decoration: none;
    margin-bottom: 15px;
    text-decoration: none;
    font-size: 15px;
    color: #83a7a5;
    font-weight: 400;
    list-style: none;
}

.others_list a:hover {
    text-decoration: underline;
}

.company ul li a:hover {
    text-decoration: underline;
}

.footer-list li {
    margin-bottom: 15px;
}

.info_list a {
    font-weight: 600;
    color: #0f5f5c;
    text-decoration: none;
}

.others_list li {
    cursor: pointer;
}

.info_logo {
    margin-bottom: 15px;
    font-size: 22px;
    color: #0f5f5c;
}

.newsletter_form {
    display: flex;
    align-items: center;
    width: 80%;
    margin-top: 20px;
    background: #eef1ec;
}

.newsletter_form input {
    padding: 15px;
    outline: none;
    background: transparent;
    border: none;
}

.form_btn {
    cursor: pointer;
    background: none;
    border: none;
}

.footer-line {
    margin-left: 12%;
    width: 76%;
    margin-top: 60px;
    border-bottom: 1px solid #eef1ec;
}

.footer-bottom_container {
    padding: 30px 225px;
    display: flex;
    justify-content: space-between;
}

.social-media img {
    margin-left: 5px;
    transition: .4s;
}

.social-media img:hover {
    transform: scale(1.2);
    opacity: 0.9;
}

@media (max-width:1400px) {
    .footer-top_container {
        padding: 0 150px;
        padding-top: 100px;
    }
}

@media (max-width:1199px) {
    .footer-top_container {
        padding: 0 50px;
        padding-top: 100px;
    }
}

@media (max-width:768px) {
    .footer-top_container {
        padding: 0 10px;
        padding-top: 100px;
    }

    .footer_subtext {
        font-size: 12px;
    }

    .footer_title {
        font-size: 13px;
    }

    .footer-bottom_container {
        padding: 30px 50px;
    }

    .newsletter_form {
        width: 100%;
    }
}

@media (max-width:500px) {
    .footer-top_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footer_title {
        font-size: 24px;
    }

    .footer_subtext {
        font-size: 20px;
    }

    .info,
    .company,
    .others,
    .newsletter {
        text-align: center;
    }

    .newsletter {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .newsletter_form input {
        width: 80%;
        padding: 20px;
    }

    .newsletter_form {
        width: 80%;
        font-size: 15px;
    }

    .form_btn img {
        width: 25px;
        height: 25px;
    }

    .footer-bottom_container {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .copyrights {
        font-size: 12px;
    }
}

@media (max-width : 289px) {
    .newsletter_form input {
        width: 85%;
        padding: 15px 10px;
    }

    .newsletter_form {
        width: 90%;
        font-size: 15px;
    }

    .form_btn img {
        width: 20px;
        height: 20px;
    }
}